<div id="source_latest_articles">
	<h1><%= @source.name %></h1>
	<!-- Shows the follow/unfollow button depending on which sources the user already follows -->
	<% if @current_user.sources.ids.include? @source.id %>  
		<button><a href='/sources/<%= @source.id %>/unfollow'>unfollow</a></button>
	<%else%>
		<button><a href='/sources/<%= @source.id%>/follow'>follow</a></button>
	<%end%>
		
	<p><%= @response["rss"]["channel"]["description"] %></p>

	<p>Latest articles:</p>
	<!-- Shows the 10 latest articles in new pop up window-->
	<% (0..9).each do |i| %>
		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal<%= i %>">
  			<%= @response["rss"]["channel"]["item"][i]["title"] %>
  		</button> 

		<!-- Modal -->
		<div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
			     	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        	<h4 class="modal-title" id="myModalLabel"><%= @response["rss"]["channel"]["item"][i]["title"] %>
			        	</h4>
			      	</div>
			     	<div class="modal-body">
			        	<p><%== @response["rss"]["channel"]["item"][i]["pubDate"] %></p>
						<p><%== @response["rss"]["channel"]["item"][i]["description"] %></p>
						<img src='<%== @response["rss"]["channel"]["item"][i]["thumbnail"] %>'>
						<p><a href='<%= @response['rss']['channel']['item'][i]['link']%>'>Visit website</a></p>
			      	</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      	</div>
			    </div>
			</div>
		</div>
	<% end %>
</div>
