<div id="source_latest_articles">
	<h1><%= @source.name %></h1>

	<p><%= @response["rss"]["channel"]["description"] %></p>
	<p>Latest articles:</p>

	<h3><%= @response["rss"]["channel"]["item"][0]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][0]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][1]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][1]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][2]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][2]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][3]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][3]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][4]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][4]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][5]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][5]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][6]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][6]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][7]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][7]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][8]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][8]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][9]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][9]["description"] %></p>

	<h3><%= @response["rss"]["channel"]["item"][10]["title"] %></h3>
	<p><%== @response["rss"]["channel"]["item"][10]["description"] %></p>
</div>


