- if flash[:notice].present?
	%h2= flash[:notice]
	
= form_tag '/login' do
	= label_tag 'email_address'
	= text_field_tag 'email_address', nil, :autofocus => true, :placeholder => 'example@example.com'

	= label_tag 'password'
	= text_field_tag 'password'

	= submit_tag 'login'

