<div id="feed">
	<% if @current_user.sources[0] == nil %>
		<div id="no_feed">
			<h1>You're not following anything, you should add some sources to your newsfeed.</h1>
			<a href='/topics'>Add sources</a>
		</div>
	<%else%>
		<h1>YOUR NEWSFEED </h1>
		<h3>Latest articles:</h3>

		<div id="newsfeed_home">
			<% @current_user.sources.each do |s|
				sloppy_url = s.url
				rss = Feedbag.find(sloppy_url).first
				if rss.present?
					feeds = Feedjira::Feed.fetch_and_parse(rss)
					@response = HTTParty.get (rss) %>

				<div id="newsfeed_home_source">
					<h2><%= s.name %></h2>
					<% if @response["rss"]["channel"] %>
						<% if @response["rss"]["channel"]["item"] %>
							<a href='/sources/<%= s[:id] %>'><h4><%== @response["rss"]["channel"]["item"][0]["title"] %></h4></a>
						<%end%>
					<%end%>
				</div>
				<% end %>
			<%end%>
		</div>
	<%end%>

	<!-- Display the recommendations from other users if the user is already following sources -->
	<% if @current_user.sources[0] != nil %>
	<h4>Recommended for you</h4>
	<!-- For each topic including the current user id, go through each user and their sources to display other sources from the same topic -->
	<% @topics.each do |t| %>
		<% if t.user_ids.include? @current_user.id %>
			<% t.users.each do |u| %>
				<% u.sources.each do |s|%>
					<% if !(@current_user.sources.include? s) %>
						<% @source_array << s %>
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
<%end%>
<!-- Avoid duplicates between users sources. Did not work properly inside the loop. -->
<% @source_array.uniq.each do |s| %>
	<p><a href='/sources/<%= s.id%>'><%= s.name %></a></p>
<%end%>

<!--Form for search through sources -->
	<%#= form_tag '/search', :method => "get" do %>
        <%#= text_field_tag 'query', nil, :placeholder => 'your search term' %>
        <%#= submit_tag 'Search' %>
    <%# end %>
</div>
