<div id="feed">
	<% if @current_user.sources[0] == nil %>
		<div id="no_feed">
			<h1>You're not following anything, you should add some sources to your newsfeed.</h1>
			<a href='/topics'>Add sources</a>
		</div>
	<%else%>
<!-- 		<%# @my_sources.each do |s| %>
			<h1><%#= s[0] %></h1>
			<h3><%#= s[1] %></h3>
		<%#end%> -->
   	<%end%>
<% if @my_sources %>
<h1>LATEST NEWS</h1>
 <div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      	<h3><%= @my_sources[0][0]%></h3>
        <p><%= @my_sources[0][1]%></p>
      <div class="carousel-caption">
      </div>
    </div>
<div class="item">
      <h3><%= @my_sources[1][0]%></h3>
      <p><%= @my_sources[1][1]%></p>
      <div class="carousel-caption">
      </div>
    </div>
<div class="item">
       <h3><%= @my_sources[2][0]%></h3>
       <p><%= @my_sources[2][1]%></p>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>


	<!-- Display the recommendations from other users if the user is already following sources -->
<% if @current_user.sources[0] != nil %>
	<h4>Recommended for you</h4>
	<!-- For each topic including the current user id, go through each user and their sources to display other sources from the same topic -->
	<% @topics.each do |t| %>
		<% if t.user_ids.include? @current_user.id %>
			<% t.users.each do |u| %>
				<% u.sources.each do |s|%>
					<% if !(@current_user.sources.include? s) %>
						<% @source_array << s %>
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
<%end%>
<!-- Avoid duplicates between users sources. Did not work properly inside the loop. -->
<% @source_array.uniq.each do |s| %>
	<p><a href='/sources/<%= s.id%>'><%= s.name %></a></p>
<%end%>

<!--Form for search through sources -->
	<%#= form_tag '/search', :method => "get" do %>
        <%#= text_field_tag 'query', nil, :placeholder => 'your search term' %>
        <%#= submit_tag 'Search' %>
    <%# end %>
</div>
<%end%>
