<div id="feed">
	<h1>YOUR NEWSFEED </h1>
	<h3>Latest articles:</h3>

	<ul class="nav nav-tabs">
	  
	  <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      Sources <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
			<% @current_user.sources.each do |s| %>
				<p><a href='/sources/<%= s[:id]%>'><%= s.name %></a></p>
			<%end%>
	    </ul>
	  </li>
	</ul>

	<div id="newsfeed_home">
		<% @all_sources.each do |s| %>
			<% sloppy_url = s.url %>
			<% rss = Feedbag.find(sloppy_url).first %>
			<% feeds = Feedjira::Feed.fetch_and_parse(rss) %>
			<% @response = HTTParty.get (rss) %>

			<div id="newsfeed_home_source">
				<h2><%= s.name %></h2>
				<h4><%== @response["rss"]["channel"]["item"][0]["title"] %></h4>
				<!-- <p><%== @response['rss']['channel']['item'][0]['description'].split('.').first %></p> -->
			</div>
		<%end%>
		<hr>
	</div>
</div>
