<!DOCTYPE html>
<html lang="en">
<head>
  <title>NewsreaderApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bits of Javascript for the carousel on newsfeed -->
  <script>
    $(document).ready(function(){
      $('.carousel').carousel();
    });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body>
	<nav>
		<ul>
			<%== intellinav %>
      <!-- Dropdown in nav bar -->
      <% if @current_user %>
        <ul class="nav nav-tabs">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Sources <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% @current_user.sources.each do |s| %>
                <p><a href='/sources/<%= s[:id]%>'><%= s.name %></a></p>
              <%end%>
            </ul>
          </li>
        </ul>  
      <% end %>
		</ul>
	</nav>
  <%= yield %>
</body>
</html>
