<!DOCTYPE html>
<html lang="en">
<head>
  <title>NewsreaderApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- Bits of Javascript for the expand effect on posts -->
      <script type="text/javascript">
  
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
      </script>

</head>
<body>

		<nav>
			<ul>
				<%== intellinav %>
        <hr>
			</ul>
		</nav>
<%= yield %>

</body>
</html>
